services:
  elysia-backend:
    build: .
    container_name: elysia_app
    restart: always
    ports:
      - "3000:3000"
    env_file: ".env"
    working_dir: /app
    
    # We chain commands to ensure dependencies and prisma client are ready
    # before starting the app.
    command: sh -c "bun install && bunx prisma generate && bun --watch src/index.ts"

    volumes:
      - .:/app
      - /app/node_modules # Prevents host node_modules from breaking container